.my-cart {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.my-cart > p {
    padding: 10px;
    border: 1px solid #eee;
    text-align: center;
}
.cart-title > h2 {
    font-weight: 700;
}
.cart-product {
    display: flex;
}
.empty-cart {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-cart-image>img {
    max-width: 550px;
}
.cart-parts {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.cart-part-one {
    width: 50%;
}
.cart-part-two {
    width: 40%;

}
.accor {
    background-color: #fafafa;
}
.cart-product {
    display: flex;
    gap: 1rem;
    padding: 15px;
    border: 1px solid #eee;
}
.cart-container {
        float: left;
        position: fixed;
        width: 34%
}
.cart-checkout{
    padding: 15px;

}

.total {
    display: flex;
}
.total-title {
    display: flex;
    gap: 0.5rem;
}


.offcanvas-secure-checkout {
    padding: 10px;
    background-color: #ae946d;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    
}

@media screen and (max-width:1400px){
    .cart-product {
        flex-direction: column;
    }
    .image {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cart-details, .pricing{
        padding: 0px 20px 0px 20px;
    }
    .price {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    
}

@media screen and (max-width:840px) {
    .product-image {
        max-width: 250px;
        min-height: 200px;
    }
    
}

@media screen and (max-width:650px) {
    .cart-part-one {
            width: 100%;
        }
    
        .cart-part-two {
            width: 100%;
        }
    .cart-parts {
        flex-direction: column;
        gap: 2rem;
    }
    .cart-container {
    position: static;
    width: 100%;
    margin-bottom: 0;
    }
    .cart-title > h2 {
    font-weight: 700;
    text-align: center;
    }
}

@media screen and (max-width:545px) {
    .empty-cart-image>img {
        max-width: 350px;
    }
}