.checkout-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 140px;
}

.checkout-sections {
    display: flex;
    /* gap: 2rem; */
    justify-content: space-between;
}
.checkout-section-one {
    width: 50%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-one-part-one-inputs {
    padding: 30px;
}
.checkout-section-two {
    width: 40%;
}
.section-one-part-one-header,.section-one-part-two-header ,.section-one-part-three-header{
    padding: 12px 16px;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-one-part-one-header > a,
.section-one-part-two-header > a,
.section-one-part-three-header > a {
    font-size: 0.9em;
    border-bottom: 1.5px solid black;
    cursor: pointer;
}

.section-one-part-one-inputs {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.section-one-part-one-inputs.disable {
    display: none;
}
.input-part-one {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.input-part-one >input::placeholder,.input-part-two>input::placeholder, .drop-down-content {
    font: 12px/3 sans-serif;
    color: grey;
}


.input-part-two {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-body-section-one {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.checkout-radio-input {
    font-size: 1.2em;
    /* background-color: black; */
}
.checkout-radio {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* ----------------------- section-one-part-two/section-one-part-three -------------------- */

.payment-checks,.review-contents {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



/* --------------------------- Section one content ------------------- */

.content-columns {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.column-one{
    display: flex;
    gap: 1.5rem;

}
.column-two {
    display: flex;
    gap: 1.5rem;

}
.column-one-part-one,.column-two-part-one,.column-two-part-two{
    width: 50%;
}
.column-one-part-one,.column-one-part-two,.column-two-part-one,.column-two-part-two {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.section-one-part-two-contents {
    padding: 30px;
}
.section-one-part-one-contents,.section-one-part-two-contents,.review-contents,.payment-checks{
    display: none;
}

.section-one-part-one-contents.active,.section-one-part-two-contents.active{
    display: block;
}

.review-contents.active,.payment-checks.active {
    display: flex;
}

/* -------------error message ---------- */
.checkoutErrorMsg {
    display: none;
}

.checkoutErrorMsg.active {
    display: block;
    color: red;
}

/* ---------- edit button --------------  */
.address, .pay{
    display: none;
    color: black;

}

.address.active, .pay.active{
    display: block;
}
.address:hover, .pay:hover {
    color: black;
}

/* Radio buttons */
form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
label {
    display: block;
    /* margin-bottom: 1.5em; */
    font-size: 0.8em;
}
 label > input {
        display: none;
    }

 label >i {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
        vertical-align: middle;
        border: 2px solid black;
        transition: .25s;
    }

    label >span {
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 2px dotted #fff;
        text-transform: uppercase;
        letter-spacing: 3px;
    
    }

    label>input:checked+i {
        box-shadow: inset 0 0 0 5px black;
    }

    label:hover {
        cursor: pointer;
    }

    /* not logged in */

.not-loggedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.not-loggedin-image > img {
    max-width: 810px;
}
    /* not logged in */
/* -----------------------desktop and mobile carousel----------- */
.carousel.mobile {
    display: none;
}
/* -----------------------desktop and mobile carousel----------- */
@media screen and (max-width:1690px){
    .checkout-container{
        width: 70%;
    }
    .checkout-sections {
        justify-content: space-around;
    }
}

@media screen and (max-width:1450px) {
    .checkout-container {
        width: 90%;
    }
    .checkout-sections {
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (max-width:1290px) {
    .checkout-section-one {
        width: 40%;
    }
    .checkout-section-two {
        width: 50%;
    }
}

@media screen and (max-width:1020px) {
    .checkout-section-one {
        width: 60%;
        margin-top: 10px;
    }
    .checkout-section-two {
        width: 60%;
    }
    .checkout-sections{
        flex-direction: column-reverse;
        align-items: center;
        gap: 0rem;
        padding-top: 50px;
    }
}

@media screen and (max-width:850px) {
    .checkout-section-one {
        width: 70%;
    }

    .checkout-section-two {
        width: 70%;
    }

    
}

@media screen and (max-width:650px) {
    .checkout-section-one {
        width: 90%;
    }

    .checkout-section-two {
        width: 90%;
    }


}
@media screen and (max-width:577px){
    .carousel.desktop {
            display: none;
        }
    
        .carousel.mobile {
            display: block;
        }
}
@media screen and (max-width:550px) {
    .offcanvas-product.desktop {
        display: none;
    }
    .offcanvas-product.mobile {
        display: flex;
    }
    .details {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .pricing {
        padding: 0;
    }
    .price {
        padding: 15px 20px 0px 0px;
        flex-direction: row;
    }
    .offcanvas-product {
        padding: 10px 0px 0px 0px;
    }
    .modal-body-product-image-details > img {
        max-width: 150px;
        max-height: 150px;
    }
   
    .not-loggedin {
        height: 45vh;
    }
    .not-loggedin-image>img {
        max-width: 420px;
    }
}