.footer {
    background-color: #181818;
    margin-top: 30px;
    width: 100vw;
    color: white;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}