.login-container {
    margin-top: 100px;
    height: 90vh;
}
.login-header {
    background-color: #eee;
    padding: 20px;
}
.alert.hide {
    display: none;
}
.alert.show {
    display: flex;
    justify-content: center
}
.login-parts {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 150px;
    gap: 2rem;


}

.login-part-one {

    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    padding: 0px 60px 0px 70px;
    border-right: 2px solid #eee;
}
.part-one-header {
    /* width: 70%; */
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: 2px solid #eee;
}
.login {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.login-submit {
    display: flex;
    justify-content: space-around;
}
.login-part-two {
    font-size: 1em;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.check-status {
    width: 80%;
    background-color: #eee;
}
.login-button, .forget {
    background-color: #eee;
}

.create-account-submit {
    display: flex;
    justify-content: center;
}
.login-hover {
    cursor: pointer;
}
.create-account-hover {
    cursor: pointer;
}


@media screen and (max-width:1750px){
    .login-parts {
        width: 90%;
        padding: 70px;
    }
}
@media screen and (max-width:1370px) {

    .login-parts {
        width: 100%;
        padding: 60px;
    }
}
@media screen and (max-width:1050px) {
    .login-part-one {
        width: 70%;
        border-right: none;
        padding: 0;
        gap: 0.4rem;

    }
    .login {
        gap: 0.3rem;
    }
    .login-part-two {
        width: 70%;
    }
    .login-parts{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 20px;
        gap: 0.5rem;
    } 
}

@media screen and (max-width:780px) {
    .login-submit {
        flex-direction: column;
        gap: 1rem;
    }
    .login-parts{
        width: 100%;
    }
    .login-part-one {
        padding: 0px;
    }
}

@media screen and (max-width:500px) {
    .part-one-header {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    .login-heading {
        border-bottom: 1px solid black;
    }
    .login-part-two {
        width: 90%;
    }
}


@media screen and (max-width:450px) {
    /* .part-one-header {
        gap: 0rem;
    } */

    .login-part-two {
        display: none;
    }

    .login-part-one {
        margin-top: 130px;
    }
}