nav {
    background-color: black;
    padding: 20px;
    display: flex;
    align-items: center;
}
.btn {
    padding: 0;
}
input,
input::placeholder {
    font: 10px/3 sans-serif;
}
nav > .nav-part-one {
    width: 70%;
    display: flex;
    padding: 0px 20px 0px 20px;
    align-items: center;
    gap: 3rem;
}
.cart-logo {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;

}
.categories>a:hover {
    color: white;
    border-bottom: 2px solid #ae946d;
}
nav>.nav-part-one>.categories.mobile {
    display: none;
}
.categories.mobile-420 {
    display: none;
}
nav >.nav-part-one> .categories {
    display: flex;
    gap: 4rem;
    padding: 0px 20px 0px 20px;
}

nav > .nav-part-two {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav > .nav-part-two > .search-bar {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 8px 0px 10px;
    border: 1px solid rgba(255, 255, 255, .2);
}

nav > .nav-part-two > .search-bar > input {
    border: none;
}


@media screen and (max-width:1450px){
    nav > .nav-part-one {
        padding: 0px 10px 0px 10px;
        gap: 1rem;
    }
    nav >.nav-part-one> .categories {
        gap: 2rem;
        padding: 0px 10px 0px 10px;
    }
}

@media screen and (max-width:1035px) {
    nav>.nav-part-one>.categories {
        gap: 1rem;
        padding: 0px 5px 0px 5px;
    }
}

@media screen and (max-width:885px) {
    nav {
        gap: 1rem;
    }
    nav>.nav-part-one>.categories.desktop {
       display: none;
    }
    nav>.nav-part-one>.categories.mobile  {
        display: block;
        white-space: nowrap;
    }
    nav > .nav-part-one {
        width: 20%;
    }
    nav > .nav-part-two {
        width: 80%;
        justify-content: space-around;
        gap: 1rem;
    }
}
@media screen and (max-width:660px) {
    nav > .nav-part-two {
        width: 80%;
        justify-content: center;
        gap: 1rem;
    }
}


@media screen and (max-width:600px) {
    nav>.nav-part-one>.categories.mobile {
        display: none;
    }
        
    .nav>.nav-part-two>.search-bar {
        padding: 0px 5px 0px 6px;
    }
    .categories.mobile-420 {
        display: block;
        
    }
    nav {
        gap: 0.2rem;
    }
    .cart-logo {
        gap: 0.6rem;
    }
    
}
@media screen and (max-width:460px) {
    nav > .nav-part-two {
        justify-content: center;
    }
}
@media screen and (max-width:420px) {
    

    nav {
        gap: 0rem;
    }
    

}