.search-results {
    margin-top: 100px;
}

.search-results-header {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 40px;
    border-bottom: 1px solid #eee;
}

.sort-search-results {
    display: flex;
    padding: 40px 0px 30px 0px;
    justify-content: space-around;
    border-bottom: 1px solid #eee;
}

.part-one {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.drop {
    border: 1px solid #eee;
}

.results-found {
    padding: 40px 0px 40px 100px;
}

.result-products {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: center;

}

.result-product {
    max-width: 350px;
    border: 1px solid #eee;
}

.result-product-image {
    max-width: 350px;
}

.result-product-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-title-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-title-price>h6,
.coupon>p {
    color: #ab3524;
}


@media screen and (max-width:850px) {
    .results-found{
        text-align: center;
        padding-left: 30px;
    }
    .sort-search-results {
        flex-wrap: wrap;
        gap: 2rem;
    }
    
}
@media screen and (max-width:850px) {
    .part-one {
            gap: 0.5rem;
        }
}

@media screen and (max-width:600px) {
    .part-one{
        flex-wrap: wrap;
        justify-content: center;
    }
}