.offcanvas-products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 70vh;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}
.offcanvas-product {
    display: flex;
    gap: 1rem;
    padding: 18px;
    border: 1px solid #eee;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.offcanvas-checkout {
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.shipping-cost {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-title {
    display: flex;
    align-items: center;
}
.checkouts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}



.offcanvas-secure-checkout {
    padding: 10px;
    background-color: #ae946d;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    font-weight: 550;
}
.offcanvas-secure-checkout:hover {
    cursor: pointer;
    color: white;
    opacity: 0.9;
}
.offcanvas-secure-checkout.single-product{
    
}
.offcanvas-secure-checkout.view-cart {
    background-color: white;
    color: black;
    border: 1.5px solid black;
    padding: 0;
}
.offcanvas-secure-checkout.view-cart:hover {
    background-color: black;
    color: white;
}
.offcanvas-view-cart{
    color: black;
    border-bottom: 5px;
}
.offcanvas-view-cart:hover {
    cursor: pointer;
    color: black;
    border-bottom: 2px solid #ae946d;
}
.empty-cart-offcanvas {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.empty-cart-offcanvas-image > img{
    max-width: 350px;
}
.select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;

    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style select:focus {
    outline: none;
}


.offcanvas-product.mobile {
    display: none;
}

a {
    text-align: center;
}