.modal-wrap {
    padding: 15px 30px 15px 30px;
}
.modal-header {
    display: flex;
    gap: 1rem;
}
.modal-header > .modal-title, .modal-header > .check-icon {
    color: #008827;
}

.modal-dialog {
    max-width: 566px;
    /* New width for default modal */
}
.modal-body-product {
    display: flex;
    gap: 1rem;
}

.modal-body-product-image-details > img {
    max-width: 161.33px;
}
.modal-body-product-image-details {
    display: flex;
    gap: 0.8rem;
}

.modal-body-product-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal-body-product-details > .other-details {
    display: flex;
    flex-direction: column;
    /* gap: 0.6rem; */
}
.modal-body-buttons {
    padding: 20px 0px 20px 0px;
    display: flex;
    gap: 1rem;
}
.modal-body-section-two {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.modal-body-products {
    display: flex;
    justify-content: center;
}



.tick-icon {
    font-size: 3.8em;
    color: #008827;
}

.modal-body-sections-order-placed {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    
}

.order-placed > h5 > strong {
    font-size: 1em;
}

.modal-body-product-image-details > img {
    max-height: 150px;
}