.product-link {
    color: black;
}

.product-link:hover {
    color: black;
}
.optional-images {
    padding: 20px 20px 15px 20px;
    display: none;
    justify-content: center;
    gap: 1rem;
}
.optional-images > a:hover{
    cursor: pointer;
}
.result-product:hover > .color {
    display: none;
}
.result-product:hover>.optional-images {
    display: flex;
}
.color {
    padding: 39px;
}