.section-one {
    height: 92vh;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.images {
    display: flex;
    gap: 0.5rem;
    padding: 10px;
    justify-content: center;
}

.images > img {
    max-width: 374px;
    min-width: 330px;
    height: auto;
    background-color: gray;
}

.flauntHits {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 70px;
}
.flauntHits > h1 {
    font-weight: 700;
    font-size: 3.5em;

}
.flauntHits > h1 , .flauntHits > h3 {
    color: #ab3524;
    text-align: center;
}

.flauntHits > .shopping-category{
    display: flex;
    gap: 1rem;
    
} 
.flauntHits > .shopping-category > a {
    padding: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}
.flauntHits > .shopping-category > a:hover {
    background-color: rgb(0, 0, 0,0.8);
}

@media screen and (max-width:1600px) {
    .images {
        flex-wrap: wrap;
    }

    .images>img {
        max-width: 300px;
        min-width: 150px;
    }

}
@media screen and (max-width:1350px) {
    .images {
        flex-wrap: wrap;
    }
    .images > img {
        max-width: 250px;
        min-width: 100px;
    }
    
}
@media screen and (max-width:860px){
    .images>img {
            max-width: 150px;
        }
}

@media screen and (max-width:550px) {
    .images > img {
        max-width: 150px;
    }
    .flauntHits > .shopping-category{
        flex-direction: column;
        gap: 0.5rem;
    }
    .flauntHits > h1 {
        font-weight: 600;
        font-size: 2em;

    }
    
}