
.section-two-container {
    position: relative;
    height: 60vh;
}

.yellow-card {
    height: 500px;
    width: 100%;
    background-color: #ffd943;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}



.yellow-card>.content>a {
    text-align: center;
    padding: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 20%;
}



.section-two-container>.yellow-card>.back-image {
    max-width: 450px;
    min-height: 250px;  
    min-width: 150px;  
}

.front-image {
    position: absolute;
    top: 350px;
    max-width: 350px;
    left: 725px;
}



@media screen and (max-width:1600px){
    .front-image {
        left: 450px;
    }
}

@media screen and (max-width:1050px) {
    .front-image {
        left: 450px;
    }
}
@media screen and (max-width:810px) {
    .front-image {
        left: 0;
    }
    .back-image {
        max-width: 250px;
        min-width: 100px;
    }
}

@media screen and (max-width:500px) {
    .section-two-container {
        margin-top: 100px;
    }
    .front-image {
        max-width: 280px;
    }

}