.single-product-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}

.current-path-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.single-product-container-parts {
    width: 100%;
    display: flex;
}

.single-product-container-part-one {
    width: 70%;
    
    padding: 0px 20px 0px 0px;
}
.single-product-container-part-one > .desktop-view {
    display: flex;
    flex-direction: column;
    gap: 0.45rem;
} 
.single-product-container-part-one>.mobile-view {
    display: none;
} 
.image-primary > img {
    max-width: 1033.33px;
}
.image-placement {
    display: flex;
    flex-wrap: wrap;
    gap: 0.45rem;
}
.image-placement > img {
    max-width: 512.16px;
    
}
.single-product-container-part-two {
    padding: 0px 0px 0px 10px;
    position: sticky;
    height: 100vh;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.single-product-title > h4 ,.single-price {
    font-weight: 800;
}

.single-product-coupon {
    padding: 20px 0px 20px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
    color: #ba2026;
}
.add-to-cart {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.offcanvas-secure-checkout {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.shipping-free {
    display: flex;
    gap: 1rem;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.shipping-free > .icon {
    font-size: 1.7rem;
}
.shipping-free > p {
    font-size: 1.2em;
}

.enter-pin {
    display: flex;
    gap: 1.5rem ;
}

.also-bought-title {
    padding-top: 40px;
    
}
.single-product-details > h3 ,.also-bought-title > h3 {
    font-weight: 700;
}
.single-product-details {
    background-color: #eee;
    padding: 100px;
}

.read-more {
    color: black;
    border-bottom: 1.5px solid black;
    text-decoration: none;
}
.read-more:hover {
    color: black;
    opacity: 0.9;
}
@media screen and (max-width:1880px) {
    .image-primary>img {
            max-width: 950px;
        }

    .image-placement>img {
        max-width: 471px;

    }
}

@media screen and (max-width:1700px) {
    .image-placement>img {
        max-width: 462.3px;
    
    }
    .image-primary>img {
            max-width: 940px;
        }
}

@media screen and (max-width:1650px) {
    .image-placement>img {
        max-width: 444px;

    }

    .image-primary>img {
        max-width: 900px;
    }
}

@media screen and (max-width:1600px) {
    .image-placement>img {
        max-width: 394px;

    }

    .image-primary>img {
        max-width: 800px;
    }
}


@media screen and (max-width:1440px) {
    .image-placement>img {
        max-width: 320.6px;

    }

    .image-primary>img {
        max-width: 650px;
    }
    
}

@media screen and (max-width:1200px) {
    .single-product-container-part-one>.desktop-view {
        display: none;
    }
    .single-product-container-part-one>.mobile-view {
        display: block;
    }    
    .single-product-container-parts {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .single-product-container-part-one {
        width: 100%;
        padding: 0px;
    }
    .single-product-container-part-two {
        width: 60%;
        position: static;
        height: auto;
    }
}
@media screen and (max-width:600px) {
    .single-product-container-part-two {
        width: 80%;
        
    }
    .current-path-header {
        flex-wrap: wrap;
    }
    .single-product-details {
        padding: 50px;
    }
}